# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
*.exe
gorm.db
*.crt
*.csr
*.key

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
/server/keys/
/server/FileStorage/
/server/WebClient/


# Web related

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
.gitattributes
2849809_bubble_bobble_speak_chat_multimedia_icon.svg
AppIcon.bmp
AppIcon.png
AppIcon.xcf
buildweb.bat
buildwindows.bat
discussion (1).png
discussion.png
lib_bloc.zip
lib.zip
server.zip
startEmul.bat
todochat_2.ico
todochat_3.bmp
todochat_3.ico
WinSetup.zip
.vscode/settings.json
android/app/src/main/res/mipmap-hdpi/launcher_icon.png
android/app/src/main/res/mipmap-mdpi/launcher_icon.png
android/app/src/main/res/mipmap-xhdpi/launcher_icon.png
android/app/src/main/res/mipmap-xxhdpi/launcher_icon.png
android/app/src/main/res/mipmap-xxxhdpi/launcher_icon.png
assets/images/todochat_logo.png
assets/images/todochat.ico
ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-50x50@1x.png
ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-50x50@2x.png
ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-57x57@1x.png
ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-57x57@2x.png
ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-72x72@1x.png
ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-72x72@2x.png
manuals/Untitled Project.tscproj
manuals/Выполнение задачи.tscproj
resources/Screenshot_1_edited_2.bmp
resources/Screenshot_1_edited.bmp
resources/Screenshot_1_edited.png
resources/Screenshot_1_edited.xcf
resources/Screenshot_1.bmp
resources/Screenshot_2.bmp
resources/Screenshot_3.bmp
resources/Screenshot_4.bmp
resources/Screenshot_5.bmp
resources/Screenshot_6.bmp
resources/Screenshot_7.bmp
resources/Screenshot_8.bmp
resources/Screenshot_9.bmp
resources/Screenshot_10.bmp
resources/Screenshot_11.bmp
resources/Screenshot_12.bmp
resources/Screenshot_13.bmp
resources/Screenshot_186.png
